[[source]]
url = "https://pypi.tuna.tsinghua.edu.cn/simple"
verify_ssl = false
name = "pip_conf_index_global"

[packages]
Django = "==5.2.11"
requests = "==2.32.5"
gunicorn = "==25.1.0"
PyYAML = "==6.0.3"

[dev-packages]

[requires]
python_version = "3.12"
python_full_version = "3.12.3"
